.App {
  text-align: center;
  
}
/* .cajaUser{
  width: 300px;
  height: 500px;
  background-color: rgb(44, 178, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
} */
.card {
  width: 300px;
  height: 400px;
  background-color: #1fa2ae;
  box-shadow: 15px 15px 30px #a5a5a5,
               -15px -15px 30px #a5a5a5;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
               transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
 }
 
 .card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
 }
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 justify-content: space-evenly;
}
.DetalleUser{
  width:350px;
  height: 550px;
  background-color: rgb(37, 196, 236);
  border-radius: 10px;
  padding-top: 1px;
  padding-left: 20px;
  margin-left:10px ;
  margin-top: 20px;

}
.NavUser{
  display: flex;
  justify-content: space-between;
}
.avatarImg{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}