*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* html,body{
    background-color: rgb(222, 218, 218);
} */
.App{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.placeLupa{
    padding-left:15px;
  }
.placeLupa::placeholder{
    text-indent: 1.5em;
   background-image: url(../src/assets/5402443_search_find_magnifier_magnifying_magnifying\ glass_icon.png);
   background-repeat: no-repeat;
   background-position: 3px;
   
}
.contenedorDerecho,.contenedorIzquierdo{
    height: 700px;
    position: sticky;
    top: 0px;
}

input{
    outline: none;
}
.navMobile{
    display: none;
 
}
.iconify{
    width: 22px;
    height: 22px;
    
}
.burbujaContenedor{
    display: none;
}

.plumaT{
 color: rgb(255, 255, 255);
 width: 28px;
 height: 28px;
}
.footerSticky{
    display: none;
}

@media (max-width:634px){
    .contenedorIzquierdo{
        display: none;
    }
    .contenedorDerecho{
        display:none;
    }
    .contenedorCentral{
       width: 100vh;
    }
    .escribiendoTweet{
        display: none;
    }
    .logoPajarito,.menuMobile,.destellos{
        color: #0da9be;
        width: 28px;
        height: 28px;
    }
    .destellos{
        rotate: 180deg;
        
    }
    .navDesk{
        display: none;
    }
    .navMobile{
        background-color: rgb(255, 255, 255);
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px rgb(218, 218, 218) ridge;
        padding: 10px 10px;
        
    }
    .cajaTweet{
        margin-left: 0px;
    }
    .imageT{
         width: 65px;
        height: 65px; 
    }
    .interaccionesImg{
        width: 18px;
        height: 18px;
        
    }
    .burbujaContenedor{
        display: block;
        display: flex;
         justify-content: center;
         align-items: center;
        width: 60px;
        height: 60px;
        background-color: #0da9be;
        border-radius: 50%;
        position: fixed;
        left: 80%;
        top:82%;
    }
    
    .footerSticky{
        background-color: rgb(255, 255, 255);
        height: 40px;
        border-top: 1px rgb(218, 218, 218) ridge;
        display:block;
        position:sticky;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
       
    }
}