.sumar{
    background-color: rgb(127, 7, 239);
    width: 80px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.restar{
    background-color: rgb(29, 117, 149);
    width: 80px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}