
form{
    width: 55%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    /* color: rgb(75, 176, 219); */
    color: aliceblue;
    font-weight: bold;
    font-size: small;
    box-shadow: 0px 16px 31px 7px rgba(54,53,54,1);
    
  }
  
  .botones{
    display: flex;
   gap: 10px;
   justify-content: center;
  }
  input{
     height: 50px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  .btnsCantidadCarrito{
    width: 100px;
    display: flex;
    
  }
  .clickContador{
    width: 20px;
    height: 20px;
    }